<!doctype html>
<html>
<head>
    <title>Hyr Employee Login Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span>Please enter the number of hours you worked this week</h1>


        <!-- LOGIN FORM -->
        <form action="/timesaved" method="post">


            <button type="submit" class="btn btn-warning btn-lg">Save</button>
        </form>

    </div>
</div>
</body>
</html>