<!doctype html>
<html>
<head>
    <title>HYR HOME PAGE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        body         { padding-top:80px; }
    </style>
</head>

<body>
<div class="container">
<div class="jumbotron text-center">
        <img src="image.png" alt="HYR IMAGE" height="25%" width="30%"/>
        <h1>HYR TIME-SHEET</h1>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Admin Login</a>
        <a href="/emplogin" class="btn btn-default"><span class="fa fa-user"></span> Employee Login</a>

    </div>


</div>
</body>
</html>
