<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Admin Page</h1>
        <a href="/logout" class="btn btn-primary btn-sm">Logout</a>
    </div>
    <div class="jumbotron">
        <h3><span class="fa fa-user"></span> Admin</h3>
        <% if (user.local.email) { %>
        <p>
            <strong>Login As:</strong>: <%= user.local.email %><br>
        </p>
        <% } else { %>
        <a href="/connect/local" class="btn btn-default">Connect Local</a>
        <% } %>
        <form action="/empcreate" method="get">
            <button  type="submit" class="btn btn-warning btn-lg"><span class="fa fa-sign-in"></span>Create Employee</button>
        </form>

    </div>
</div>

</body>
</html>